@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --primary-color: #2a81d0;
  --blue-color: #0058a0;
  --blueLight-color: #c9e9fb;
  --aux-color: #f0f2f7;
  --white-color: #fff;
  --text-gray: #2e3337;
}
.body {
  min-height: calc(100vh - 295px);
  /* min-height: calc(100vh); */
  background-color: var(--aux-color);
  padding: 20px 0;
}
.bread-crumb {
  display: flex;
  gap: 5px;
  align-items: center;
}
.bread-crumb a {
  text-decoration: none;
  color: var(--text-gray);
  line-height: 18px;
  font-size: 13px;
}
.bread-crumb a:last-child {
  font-weight: 500;
  line-height: 18px;
}

.wrapper {
  display: flex;
  gap: 30px;
  padding: 30px 0;
}
.left-side {
  position: relative;
  width: 14.53%;
}
.content {
  max-width: 670px;
  width: 57.265%;
}
.banner-img img {
  margin: 0 auto;
  max-height: 420px;
  max-width: 670px;
  position: relative;
  width: 100%;
  border: 5px solid transparent;
  border-radius: 5px;
}
.banner-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid #d8dde2;
}

.banner-details-title {
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.banner-details--timer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--text-gray);
}
.banner-details-location {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  gap: 4px;
  padding-bottom: 2rem;
}
.icon-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  text-align: center;
}
.progress-timer {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
}
.progress-bar-wrapper {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 8px;
  height: 8px;
  width: 10pc;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #007bff;
  transition: width 0.5s ease;
  border-radius: 8px 0 0 8px;
}

.right-side {
  width: 22.393%;
}
.cmp-most-viewed {
  padding-left: 0.5rem;
  width: 270px;
}
.cmp-most-viewed__title {
  font-size: 18px;
  font-weight: 600;
  padding: 0px 0px 10px;
}
.cmp-most-viewed__title,
.cmp-most-viewed__list .most-viewed-item {
  padding: 10px 0;
}
.cmp-most-viewed__list .most-viewed-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
  line-height: 20px;
  border-top: 1px solid #d8dde2;
}
.cmp-most-viewed__list .most-viewed-item:last-child {
  border-bottom: 1px solid #d8dde2;
}
.most-viewed-item .most-viewed-item_title {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  width: 250px;
}
.most-viewed-item .most-viewed-item__info {
  color: #989fa6;
  font-weight: 600;
}
.promotiondetailsdata {
  padding: 2rem 0;
}
.cmp-promotion-details-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cmp-promotion-details-data .data-header {
  font-size: 24px;
}
.data-section,
.data-section .section-wrapper,
.data-section--more-information {
  display: flex;
  flex-direction: column;
  /* font-size: 18px; */
  padding: 1px 0;
  gap: 1rem;
}
.data-section .section-wrapper .data-section--header {
  font-size: 18px;
  font-weight: 650;
}
.data-section_list {
  list-style: disc;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-left: 1rem;
}
.extra-space {
  margin: 0 5px;
  text-decoration: none;
}
.data-section_list .data-section_list--item {
  text-decoration: none;
}
.table-container--body {
  padding: 1pc;
}
.table-container table .table-container--body {
  border: 1px solid var(--aux-color);
  border-radius: 10px;
}
.table-container table .table-container--body .table-container--title {
  background-color: #d8dde2;
  font-weight: bold;
}
.table-container--body td {
  border: 1px solid #989fa6;
  padding: 1pc;
}
