@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --primary-color: #2a81d0;
}
/* Header */
.header {
  height: 120px;
}
.sub-navigation__wrapper {
  height: 40px;
  background-color: var(--primary-color);
  color: #fff;
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 16px;
  position: relative;
  text-transform: uppercase;
}

.sub-navigation__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-items: center;
}
.navigation__wrapper__left .sub__nav-list,
.navigation__wrapper__right,
.navigation__wrapper__right .sub__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.sub__nav-list .sub__nav-item {
  padding: 12px;
}
.sub__nav-list .sub__nav-item:hover,
.main-navigation__box .main-navigation__box-btn:hover {
  opacity: 0.8;
}
.sub__nav-list .item-aux {
  padding: 4px 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.main-navigation {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 16px 0;
  /* background-color: red; */
}
.main-navigation .main-navigation__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 1pc 24px;
}
.main-navigation__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.main-navigation__box-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-navigation__box-menu-item {
  padding: 10px 24px;
  border-radius: 5px;
  display: list-item;
  line-height: 24px;
  padding: 10px 24px;
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.main-navigation__box-menu-item:hover {
  background-color: #c9e9fb;
}
.main-navigation__box-icon {
  cursor: pointer;
}
.main-navigation__box .main-navigation__box-btn {
  padding: 10px 24px;
  border-radius: 5px;
  display: list-item;
  line-height: 24px;
  padding: 10px 24px;
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  background-color: var(--primary-color);
}
